/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.login__button--usual {
  padding: 6px 16px;
  font-family: "palanquindark-regular";
  font-size: 16px;
  background-color: #EF3E36;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  border-radius: 12px;
  outline: none;
  cursor: pointer; }

.form__text {
  display: block;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px dashed #666666;
  outline: none;
  font-family: "palanquindark-regular";
  font-size: 14px;
  color: #666666; }

.form__label {
  font-size: 18px;
  color: #666666;
  display: inline-block; }

.form__submit-btn {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  width: 20%;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.error {
  font-size: 14px;
  color: #b40000;
  display: inline-block;
  margin-left: 24px; }

.register__error-agree {
  text-align: center;
  margin-bottom: 24px; }

.login__error-email,
.login__error-password,
.register__error-username,
.register__error-email,
.register__error-password,
.register__error-match,
.register__error-agree {
  display: none; }

.header__container {
  display: flex;
  justify-content: space-around;
  background-color: #46ACC2;
  padding-top: 16px; }

.header__nav {
  padding-top: 22px; }

.header__login {
  padding-top: 12px; }

.header__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2); }

.header__user {
  display: none; }

.logo__heading {
  font-family: Timmana-Regular;
  color: antiquewhite;
  font-size: 52px; }

.logo__heading::first-letter {
  color: #EF3E36; }

.logo__para {
  font-family: "DancingScript-Regular";
  font-size: 22px;
  line-height: 10px;
  margin-bottom: 16px;
  color: antiquewhite; }

.nav__list-item {
  display: inline-block;
  margin-right: 24px;
  font-size: 20px;
  color: white; }

.nav__list-link {
  text-decoration: none; }

.login__button {
  outline: none;
  display: none; }

.login__button:hover {
  cursor: pointer; }

.login__remember {
  margin-bottom: 16px; }

.register__agree {
  display: inline-block;
  margin-bottom: 16px; }

.modal__content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 16px 40px;
  padding-top: 32px;
  border: 1px solid #888;
  width: 50%; }

.modal__close {
  color: #aaa;
  position: absolute;
  display: block;
  top: 4px;
  right: 14px;
  font-size: 28px;
  font-weight: bold; }

.modal__close:hover, .modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.modal__tabs {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 24px; }

.tabs__button {
  background-color: inherit;
  cursor: pointer;
  transition: 0.3s;
  padding: 16px 0px;
  width: 50%;
  display: inline-block;
  background-color: #92bac4;
  color: antiquewhite;
  font-family: "palanquindark-regular";
  font-size: 24px;
  border: none;
  outline: none; }

.tabs__button:active {
  background-color: #ccc; }

.tabs-item {
  display: none;
  padding: 8px 16px;
  animation: fadeEffect 1s; }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.active {
  background-color: #46ACC2; }

.visible {
  display: inline-block; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: "palanquindark-regular"; }
