/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.login__button--usual {
  padding: 6px 16px;
  font-family: "palanquindark-regular";
  font-size: 16px;
  background-color: #EF3E36;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  border-radius: 12px;
  outline: none;
  cursor: pointer; }

.login__button--usual:hover {
  background-color: #d63232; }

.form__text {
  display: block;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px dashed #666666;
  box-sizing: border-box;
  outline: none;
  font-family: "palanquindark-regular";
  font-size: 14px;
  color: #666666; }

.form__label {
  font-size: 18px;
  color: #666666;
  display: inline-block;
  margin-bottom: 16px; }

.form__submit-btn {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  width: 20%;
  border: none;
  border-radius: 0;
  cursor: pointer; }
  @media only screen and (max-width: 480px) {
    .form__submit-btn {
      width: 70%; } }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    .form__submit-btn {
      width: 50%; } }

.error {
  font-size: 14px;
  color: #b40000;
  display: inline-block;
  margin-left: 24px; }

.register__error-agree {
  text-align: center;
  margin-bottom: 24px; }

.login__error-email,
.login__error-password,
.register__error-username,
.register__error-username-short,
.register__error-email,
.register__error-email-short,
.register__error-password,
.register__error-match,
.register__error-agree {
  display: none; }

.header__container {
  display: flex;
  justify-content: space-around;
  background-color: #46ACC2;
  padding-top: 16px; }
  @media only screen and (max-width: 480px) {
    .header__container {
      display: block;
      padding-bottom: 8px; } }

.header__logo {
  text-decoration: none;
  text-align: center; }

.header__nav {
  padding-top: 22px;
  flex-grow: 0; }
  @media only screen and (max-width: 480px) {
    .header__nav {
      padding-top: 8px; } }

.header__login {
  padding-top: 12px; }

.header__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2); }

.header__user {
  display: none;
  text-align: center; }

.logo__heading {
  font-family: Timmana-Regular;
  color: antiquewhite;
  font-size: 52px; }

.logo__heading::first-letter {
  color: #EF3E36; }

.logo__para {
  font-family: "DancingScript-Regular";
  font-size: 22px;
  line-height: 10px;
  margin-bottom: 16px;
  color: antiquewhite; }

.nav__list-item {
  display: inline-block;
  font-size: 20px;
  color: white; }

.nav__list-link {
  text-decoration: none;
  margin-right: 24px; }
  @media only screen and (max-width: 480px) {
    .nav__list-link {
      margin-right: auto;
      margin-left: auto;
      padding: 8px 16px;
      width: 100%;
      box-sizing: border-box; } }

.nav__list-link:hover {
  border-bottom: 1px solid antiquewhite; }

.nav__list-link:last-child {
  margin-right: 0; }
  @media only screen and (max-width: 480px) {
    .nav__list-link:last-child {
      margin-right: auto; } }

@media only screen and (max-width: 480px) {
  .nav__list.responsive .nav__list-link {
    float: none;
    display: block;
    text-align: center; } }

.nav__menu {
  display: none; }

.login__button {
  outline: none;
  display: none; }
  @media only screen and (max-width: 480px) {
    .login__button {
      display: block;
      margin: 0 auto; } }

.login__button:hover {
  cursor: pointer; }

.login__remember {
  margin-bottom: 16px; }

.register__agree {
  display: inline-block;
  margin-bottom: 16px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2); }
  .modal__content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 16px 40px;
    padding-top: 32px;
    border: 1px solid #888;
    width: 50%; }
    @media only screen and (max-width: 480px) {
      .modal__content {
        padding: 8px 16px;
        width: 80%; } }
  .modal__close {
    color: #aaa;
    position: absolute;
    display: block;
    top: 4px;
    right: 14px;
    font-size: 28px;
    font-weight: bold; }
  .modal__close:hover, .modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }
  .modal__tabs {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 24px; }

.tabs__button {
  background-color: inherit;
  cursor: pointer;
  transition: 0.3s;
  padding: 16px 0px;
  width: 50%;
  display: inline-block;
  background-color: #92bac4;
  color: antiquewhite;
  font-family: "palanquindark-regular";
  font-size: 24px;
  border: none;
  outline: none; }

.tabs__button:active {
  background-color: #ccc; }

.tabs-item {
  display: none;
  padding: 8px 16px;
  animation: fadeEffect 1s; }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.active {
  background-color: #46ACC2; }

.visible {
  display: inline-block; }

.user__name {
  display: inline-block;
  color: antiquewhite;
  margin-right: 16px;
  text-decoration: none; }

@media screen and (max-width: 480px) {
  .nav__list-link {
    display: none; }
  .nav__menu {
    display: block;
    text-align: center; }
  .nav__list.responsive .nav__list-link {
    float: none;
    display: block;
    text-align: center; } }

.sidebar {
  box-sizing: border-box;
  width: 40%;
  padding: 16px;
  padding-bottom: 0;
  background-color: lightsteelblue;
  border-left: 5px solid lightblue; }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    .sidebar {
      width: 100%; } }
  @media only screen and (max-width: 480px) {
    .sidebar {
      width: 100%; } }
  .sidebar__heading {
    text-align: center;
    margin-bottom: 24px;
    font-size: 20px; }
  .sidebar__service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px; }
    @media only screen and (max-width: 480px) {
      .sidebar__service {
        display: block; } }

.service__text {
  padding-right: 16px; }

.service__name {
  margin-bottom: 12px;
  font-size: 16px; }

.service__description {
  font-size: 14px;
  margin-bottom: 16px; }

.image__item {
  max-width: 280px;
  border-radius: 16px; }

.account {
  position: relative;
  background-color: lightsteelblue;
  display: flex;
  justify-content: space-between; }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    .account {
      display: block; } }
  @media only screen and (max-width: 480px) {
    .account {
      display: block; } }
  .account__container {
    padding: 16px;
    padding-left: 32px; }
  .account__heading {
    margin-bottom: 16px; }

.table {
  margin-bottom: 16px;
  border-radius: 8px; }

.table__cell {
  border: 1px solid black;
  padding: 8px; }

.previous__table-header {
  padding-bottom: 16px; }

.phone__hint {
  display: block;
  font-size: 14px;
  padding: 2px; }

.reserve__button {
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.cancel__button {
  display: block;
  text-decoration: none;
  margin-left: 16px;
  color: black;
  display: inline-block;
  background-color: lightseagreen;
  border-radius: 8px;
  padding: 0px 16px; }

.ensure__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.ensure__message {
  display: block;
  margin-bottom: 16px;
  text-align: center; }

.ensure__container {
  display: flex;
  justify-content: space-around; }

.remove__button,
.leave__button {
  display: inline-block; }

.promo {
  width: 100%;
  background: url("../../public/img/promo.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 56px;
  padding-bottom: 56px;
  font-family: "SourceSansPro-Regular"; }
  .promo__container {
    width: 65%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 24px;
    padding: 40px;
    color: antiquewhite; }
  .promo__heading {
    text-align: center;
    margin-bottom: 56px;
    font-size: 40px;
    font-family: "SourceSansPro-Regular"; }
  .promo__description {
    margin-bottom: 16px;
    font-size: 18px;
    text-align: center; }
  .promo__description:last-of-type {
    margin-bottom: 36px; }
  .promo__button {
    display: block;
    margin: 0 auto;
    width: 20%;
    background-color: lightsteelblue;
    color: black; }
    @media only screen and (max-width: 480px) {
      .promo__button {
        width: 50%; } }
  .promo__button:hover {
    background-color: lightseagreen; }

.spa {
  padding: 24px 40px;
  background-color: lightsteelblue; }
  @media only screen and (max-width: 480px) {
    .spa {
      padding: 16px; } }
  .spa__heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px; }
  .spa__container {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr; }
    @media only screen and (max-width: 480px) {
      .spa__container {
        grid-template-columns: 1fr; } }
  .spa__item {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 480px) {
      .spa__item {
        display: block; } }
  .spa__text {
    padding: 0 16px; }
  .spa__name {
    margin-bottom: 16px;
    font-size: 18px;
    text-align: center; }
  @media only screen and (max-width: 480px) {
    .spa__description {
      margin-bottom: 16px; } }

.footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #3d3d3d;
  color: #D3D3D3;
  padding: 24px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media only screen and (max-width: 480px) {
    .footer {
      justify-content: space-between;
      padding: 8px 16px; } }
  .footer__nav-link {
    display: block;
    text-decoration: none;
    margin-bottom: 16px;
    color: #D3D3D3; }
  .footer__nav-link:hover {
    text-decoration: underline; }
  .footer__nav-link:last-of-type {
    margin-bottom: 0; }
  .footer__list-item {
    margin-bottom: 12px; }

.link-awesome {
  font-size: 24px;
  margin-bottom: 8px;
  text-align: center;
  cursor: pointer; }

.link-awesome:hover {
  color: lightsteelblue; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: "palanquindark-regular"; }
