@import "colors";
@import "reset";
@import "mixin";

@import "elements/index";
@import "components/index";

.clearfix {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "palanquindark-regular";
}