.header {

  &__container {
    display: flex;
    justify-content: space-around; 
    background-color: #46ACC2;
    padding-top: 16px;

    @include respond-to(handhelds) {
      display: block;
      padding-bottom: 8px;
    }

    @include respond-to(medium-screens) {
      display: block;
      padding-bottom: 8px;
    }
  }

  &__logo {
    text-decoration: none;
    text-align: center;
  }

  &__nav {
    padding-top: 22px;
    flex-grow: 0;

    @include respond-to(handhelds) {
      padding-top: 8px;
    }
    @include respond-to(medium-screens) {
      padding-top: 8px;
    }
  }

  &__login {
    padding-top: 12px;

  }

  &__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__user {
    display: none;
    text-align: center;
  }
}

.logo {

  &__heading {
    font-family: Timmana-Regular;
    color: antiquewhite;
    font-size: 52px;
  }

  &__heading::first-letter {
    color: #EF3E36;
  }

  &__para {
    font-family: "DancingScript-Regular";
    font-size: 22px;
    line-height: 10px;
    margin-bottom: 16px;
    color: antiquewhite;    
  }
}

.nav {

  &__list {

    &-item {
      display: inline-block;
      font-size: 20px;
      color: white;
    }

    &-link {
      text-decoration: none;
      margin-right: 24px;

      @include respond-to(handhelds) {
        margin-right: auto;
        margin-left: auto;
        padding: 8px 16px;
        width: 100%;
        box-sizing: border-box;
      }

      @include respond-to(medium-screens) {
        margin-right: auto;
        margin-left: auto;
        padding: 8px 16px;
        width: 100%;
        box-sizing: border-box;
      }
    }

    &-link:hover {
      border-bottom: 1px solid antiquewhite;
    }

    &-link:last-child {
      margin-right: 0;

      @include respond-to(handhelds) {
        margin-right: auto;
      }
    }
  }

  &__list.responsive .nav__list-link {

    @include respond-to(handhelds) {
      float: none;
      display: block;
      text-align: center;
    }

    @include respond-to(medium-screens) {
      float: none;
      display: block;
      text-align: center;
    }
  }

  &__menu {
    display: none;
  }
}

.login {

  &__button {
    outline: none;
    display: none;

    @include respond-to(handhelds) {
      display: block;
      margin: 0 auto;
    }
  }

  &__button:hover {
    cursor: pointer;
  }

  &__remember {
    margin-bottom: 16px;
  }
}

.register {

  &__agree {
    display: inline-block;
    margin-bottom: 16px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);

  &__content {
    position: relative;
    background-color: #fefefe;
    margin: 8% auto;
    padding: 16px 40px;
    padding-top: 32px;
    border: 1px solid #888;
    width: 50%;

    @include respond-to(handhelds) {
      padding: 32px 24px;
      width: 80%;
    }

    @include respond-to(medium-screens) {
      padding: 32px 24px;
      width: 60%;
    }
  }

  &__close {
    color: #aaa;
    position: absolute;
    display: block;
    top: 4px;
    right: 14px;
    font-size: 28px;
    font-weight: bold;

    @include respond-to(medium-screens) {
      top: 0;
      right: 8px;
    }

    @include respond-to(handhelds) {
      top: 0;
      right: 8px;
    }
  }

  &__close:hover,
  &__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  &__tabs {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 24px;
  }
}

.tabs {

  &__button {
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
    padding: 16px 0px;
    width: 50%;
    display: inline-block;
    background-color: rgb(146, 186, 196);
    color: antiquewhite;
    font-family: "palanquindark-regular";
    font-size: 24px;
    border: none;
    outline: none;
  }

  &__button:active {
    background-color: #ccc;
  }

  &-item {
    display: none;
    padding: 8px 16px;
    animation: fadeEffect 1s;
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.active {
  background-color: #46ACC2;
}

.visible {
  display: inline-block;
}

.user {

  &__name {
    display: inline-block;
    color: antiquewhite;
    margin-right: 16px;
    text-decoration: none;
  }
}

@media screen and (max-width: 1024px) {
  .nav__list-link {
    display: none;
  }

  .nav__menu {
    display: block;
    text-align: center;
  }

  .nav__list.responsive .nav__list-link {
    float: none;
    display: block;
    text-align: center;
  }
}