.sidebar {
  box-sizing: border-box;
  width: 40%;
  padding: 16px;
  padding-bottom: 0;
  background-color:	lightsteelblue;
  border-left: 5px solid lightblue;

  @include respond-to(medium-screens) {
    width: 100%;
  }
  @include respond-to(handhelds) {
    width: 100%;
  }

  &__heading {
    text-align: center;
    margin-bottom: 24px;
    font-size: 20px;
  }

  &__service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @include respond-to(handhelds) {
      display: block;
    }
  }
}

.service {

  &__text {
    padding-right: 16px;
  }

  &__name {
    margin-bottom: 12px;
    font-size: 16px;
  }

  &__description {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.image {

  &__item {
    max-width: 280px;
    border-radius: 16px;
  }
}