.form__text {
    display: block;
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px dashed #666666;    
    outline: none;
    font-family: "palanquindark-regular";
    font-size: 14px;
    color: #666666;
}